body
    font-family: "Segoe UI"
    color: white
    margin: 0
    padding: 0

.logo
    color: white
    margin-left: 8vh
.logo p
    font-size: 1.5em
    font-weight: bold
.powered-by
    float: right
    font-size: medium
    font-weight: normal
    margin-right: 8vh
    opacity: .5
.body
    margin: -1.1vh
    padding: 1.1vh
    height: 91vh
    background-repeat: no-repeat
    background-size: cover


.update
    color: white    
    margin-left: 8vh
li p 
    text-align: center
    color: white
li
    list-style-type: none
.weather
    margin-top: 8vh
    margin: 15px
    height: 10vw
    width: 8vw
    
    border-radius: 10px
    background-size: cover
    background-repeat: no-repeat
    float: left
  
.weather img
    display: block
    margin-right: auto
    margin-left: auto
    margin-top: 5vh
    width: 25%

.rain
    background-image: url('src/assets/img/rain.jpg')

.partly-cloudy-day
    background-image: url('src/assets/img/partly-cloudy.jpg')
 
.partly-cloudy-night
    background-image: url('src/assets/img/partly-cloudy-night.jpg')
.clear-day
    background-image: url('src/assets/img/clear-day.jpg')
.fog
    background-image: url('src/assets/img/fog.jpg')
.clear-night
    background-image: url('src/assets/img/clear-night.jpg')
.snow
    background-image: url('src/assets/img/snow.jpg')
.wind
    background-image: url('src/assets/img/wind.jpg')
.cloudy
    background-image: url('src/assets/img/cloudy.jpg')
.tornado
    background-image: url('src/assets/img/tornado.jpg')
.thunderstorm
    background-image: url('src/assets/img/thunderstorm.jpg')

.date
    margin-top: 30vh
    padding-left: 5vw
    font-size: 2em
    color: white
.day-temp
    height: 18vh
    width: 60vw
    background-color: rgba(24, 23, 19, 0.4)
    border-radius: 8px
    margin-left: -.5vw

   
.day-temp .info 
    padding-left: 5vw
    padding-top: 2%
    margin: auto
    color: white
.day-temp .info h1
   margin: auto
   padding-top: 3%
   font-size: 5em
   font-weight: bold
.day-temp .info h3
    padding-top: 12%
    text-align: center
.day-temp .info h4
    padding-top: 12%
    text-align: center
    
.hourly-section
    color: white
    margin-top: 8vh
    margin-left: -2vh

.dates-div
    text-align: center

.day-info
    color: white
    margin-left: 2.5vw
    

.days
   
    margin-left: 2.5vh
    color: white
    text-align: center
footer p
    color: white 
    text-align: center