

<div class="body" [ngClass]="weather.currently.icon" >
   

    <div class="logo">
        <p>Weatherr<span class="powered-by">Powered by DarkSky</span></p>
        
    </div>
        <span class="update">Last Updated: {{ weather.currently.time*1000 | date:'h:mm' }}</span>



    <p class="date">{{weather.currently.time*1000 | date:'EEEE, MMM d'}}</p>
    <div class="day-temp">
        <div class="info col-3">
            <h1>{{weather.currently.temperature | number:'1.0-0'}}&#xb0;F</h1>
        </div>
        <div class="info col-2">
                <h3>
                    <span class=""> {{weather.currently.summary}}</span>
                </h3>
        
        </div>
        <div class="info col-2">
                <h3>
                    Precipitation
    
                    <span class=""> {{weather.currently.precipProbability | number:'1.0-0'}}%</span>
                </h3>
        
        </div>
        <div class="info col-2">
                <h3>
                    Wind<br>
                    <span class="h4-center"> {{weather.currently.precipProbability | number:'1.0-0'}} km/h</span>
                </h3>
        
        </div>
        <div class="info col-2">
                <h3>
                    Humidity<br>
                    <span class="h4-center"> {{weather.currently.humidity | number:'1.0-0'}}%</span>
                </h3>
        
        </div>
        
    </div>




</div>

 <div class="col-12">
        <div class="hourly-section" *ngFor="let data of weather.hourly.data | slice:0:12; ">
                <div class="col-1 dates-div list-group">
                    {{ data.time*1000 | date:'h:mm a'}}
                    <img class="icon" src="assets/img/SVG/{{data.icon}}.svg" alt="{{data.icon}}">
                    {{ data.summary }}
                </div>
            
        </div>
    </div>
<br>
<br>

   
<br>
<div class="col-12 "></div>
<hr>
<div class="col-12 day-info">
    <div class="col-4">
        <h3>Percieved Temperature</h3>
            <div> {{weather.currently.apparentTemperature | number:'1.0-0'}} </div><br><br>
            <h3>Humidity:</h3>
            <div> {{weather.currently.humidity }} </div><br><br>
        <h3>Summary:</h3>
            <div>{{weather.currently.summary}}</div><br>
    </div>
    <div class="col-4">
            <h3>Dew Point:</h3>
            <div> {{weather.currently.dewPoint}}&#xb0;F </div><br><br>
            <h3>Precipitation Probability:</h3>
            <div>{{weather.currently.precipProbability}}%</div><br><br>
            <h3>Nearest Storm Disance:</h3>
            <div>{{weather.currently.nearestStormDistance}} mi.</div><br><br>

    </div>
    <div class="col-4">
            <h3>UV Index</h3>
            <div>{{weather.currently.uvIndex}} in</div><br><br>
            <h3>Wind</h3>
            <div>{{ weather.currently.windSpeed }} mi/h</div><br><br>
            <h3>Visibility</h3>
            <div>{{weather.currently.visibility}} mi</div>
        
    </div>


</div>
<hr>
<div class="col-12">

    <div class="days" *ngFor="let data of weather.daily.data | slice:0:6; ">
            <div class="col-2">
                <div>
                {{data.time*1000 | date:'EEE'}}
                <br>
                {{data.time*1000 | date:'MMM d'}}
                </div>
                <img src="assets/img/SVG/{{data.icon}}.svg">
                <div>{{data.summary}}</div>
                </div>
                
    </div>
</div>    
<hr>
<div class="col-12">
    <footer>
        <p>Powered by DarkSky </p>
    </footer>
</div>