body
    font-family: "Segoe UI"
    color: white
li
    list-style-type: none
.weather
    margin-top: 8vh
    margin: 15px
    height: 50vh
    width: 20vw
    padding: 45px
    border-radius: 10px
    background-size: cover
    background-repeat: no-repeat
    float: left
    background-color: red
  
.weather img
    display: block
    margin-right: auto
    margin-left: auto
    margin-top: 5vh
    width: 25%

.rain
    background-image: url('src/assets/img/rain.jpg')
    margin-left: 2vw

.partly-cloudy-day
    background-image: url('src/assets/img/partly-cloudy.jpg')
    margin-left: 2vw
h2
    color: white